body {
  font-family: sans-serif;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.app {
  width: 500px;
  height: 650px;
  border: 5px solid #abcea1;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  overflow-y: scroll;
  text-align: center;
}

#addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #abcea1;
  padding: 8px 10px;
  border-radius: 18px;
  cursor: pointer;
}

.fa-plus {
  background-color: #314b2b;
  padding: 5px;
  border-radius: 5px;
}
#tasks {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
#tasks div {
  background-color: #e2eede;
  border: 3px solid #314b2b;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.options {
  align-self: center;
  display: flex;
  gap: 20px;
}
.options i {
  cursor: pointer;
}
#msg {
  color: red;
  text-align: center;
}
